.search-container {
  position: relative;
  width: 50%;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.search-container .destination-search-bar {
  flex: 1;
  height: 2.8rem;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background: transparent;
  color: white;
}

.search-container .destination-search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-container .search-icon {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.search-container .search-icon:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.5);
}

/* Responsive */
@media (max-width: 768px) {
  .search-container {
    width: 80%;
  }

  .search-container .destination-search-bar {
    font-size: 1rem;
  }

  .search-container .search-icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 300px) {
  .search-container .search-icon {
    display: none;
  }
}
